$backgroundColor: #34495e;
$darkenBlue: #2c3e50;
$white: #fff;
$lightGreen: #1abc9c;
$amethyst: #9b59b6;

$loadingColor1: #1abc9c;
$loadingColor2: #f1c40f;
$loadingColor3: #3498db;
$loadingColor4: #e74c3c;
