@use "../../styles/colors" as colors;
@use "../../styles/variables" as variables;

.table {
  display: block;
  max-height: 500px;
  max-width: 1300px;
  width: 100%;
  overflow: auto;
  margin-top: 2rem;
  box-shadow: 0 20px 50px rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  color: colors.$white;

  @include variables.scrollbar;

  thead {
    th {
      position: sticky;
      top: 0;
      background-color: colors.$darkenBlue;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: darken(colors.$backgroundColor, 1%);
      }
    }
  }

  th,
  td {
    padding: 0.5rem;
  }
}
